.News {
  margin-left: O;
  position: relative;
}

.Title {
  margin-bottom: 25px;
  padding-left: 7vw;
  padding-right: 50px;
  padding-top: 16px;
  font-family: "Monument Extended Ultrabold";
  color: white;
  font-size:25px;
  text-decoration: none;
  text-transform: uppercase;
}

.Project {
    color: white;
    text-transform: uppercase;
    font-size:small;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    width: fit-content;
    margin: auto;
    margin-top: -40px;
}

.ProjectBold {
  color: white;
  text-transform: uppercase;
  padding-bottom: 0;
  font-size:medium;
  font-weight: 900;
  width: fit-content;
    margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.Video {
  height: 200px; /* 25vh*/
  width: fit-content;
  overflow: hidden;
  margin-top: -22px;
  background-position: center;
  z-index: 20;
}

.listVideo {
  padding-left: 0;
  z-index: 10;
}

.TitleVideo {
  overflow: hidden;
  position: absolute;
  margin-top: -163px; /* -17vh*/
  width: 100vw;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.TitleVideo p {
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  overflow: hidden;
}

.UnitVideo {
  display: block;
  box-sizing: border-box;
  background-color: black;
}
