.About {
  text-decoration: none;
  position: relative;
  z-index: 4;
  color: white;
  margin-left: 70px;
  padding-top: 10vh;
  height: 100vh;
}

.Title {
  font-family: "Monument Extended Regular";
  color: white;
  font-size: x-large;
  text-transform: uppercase;
  
}

.UnderName {
    padding-top: 1vh;
    font-family: "Helvetica Neue";
    font-size: 1vw;
    text-align: justify;
  text-justify: inter-word;
}

.UnderName a {
  text-decoration: none;
  color: white;
} 

.Name {
    font-family: "Monument Extended Ultrabold";
    font-size: 3vw;
    width: 30vw;
    line-height: 70px;
    margin-top: -1vh;
}

.Body {
  font-family: "Monument Extended Ultrabold";
  color: white;
  font-size:2.9vmin; /*32px*/
  padding-top: 2vh;
  width: 25vw;
}

.BodyFr {
  font-family: "Monument Extended Ultrabold";
  color: white;
  font-size:2.4vmin; /*30px*/
  padding-top: 2vh;
  width: 25vw;
}

.Picture {
    height: 40vh;
    margin-top: 2vh;
    width: auto;
}

@media (min-width:1400px) {
  .Name {
    font-size: 2.5vw;
  }
}
