.Navigation {
  list-style: none;
  margin: 0px;
  /*float: right;*/
  width: 100vw;
  height: 20vh;
  position: relative;
  z-index: 10;
  text-decoration: none;
  /*align-items: end;*/
}


.Logo {
  height: 9vh;
  margin-top: 2vh;
  padding-top: 3vh;
  max-width: auto;
  margin: 0;
  padding-left: 50px;
}

.Link:first-child {
  border-left: none;
  float: right;
  text-decoration: none;
  /* padding-right: 2%; */
}

.Link {
  float: right;
  /* padding-left: 1%; */
  /* padding-right: 2%; */
  font-family: "Monument Extended Regular";
  color: white;
  font-size: larger;
  text-decoration: none;
  padding-top: 6vh;
  width: 11vw;
}

.LinkLang {
  float: right;
  /* padding-left: 1%;
  padding-right: 2%; */
  font-family: "Monument Extended Regular";
  color: white;
  font-size: larger;
  text-decoration: none;
  padding-top: 6vh;
}

.LinkLang:hover {
  text-decoration: none;
  color: white;
}

.Link:hover {
  color: white;
  text-decoration: none;
  font-family: "Monument Extended Ultrabold";
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  vertical-align: middle;
}

.DropdownContent {
  text-decoration: none;
    display: none;
    position: absolute;
    min-width: 160px;
}
  
.DropdownContent a {
  text-decoration: none;
    padding-top: 16px ;
    text-decoration: none;
    font-family: "Monument Extended Regular";
    color: white;
    font-size: small;
    display: block;
    align-items: left;
  }

.DropdownContent a:hover {
  font-family: "Monument Extended Ultrabold";
  text-decoration: none;
  color: white;
}

.Dropdown {
  text-decoration: none;
  float: right;
  padding-top: 6vh;
  font-size: larger;
  font-family: "Monument Extended Regular";
  color: white;
  text-decoration: none;
}

.Dropdown:hover .DropdownContent {
  display: block;
}

.Dropdown:hover{
  text-decoration: none;
  color: white;
  font-family: "Monument Extended Ultrabold";
} 

@media (max-width:1900px) {
  .Dropdown {
    font-size: small;
  }

  .Link {
    font-size: small;
  }
}

@media (max-width:1400px) {
  .Dropdown {
    font-size:x-small
  }

  .Link {
    font-size: x-small;
  }
}

.Name {
  text-decoration: none;
  color: white;
  font-family: "Monument Extended Ultrabold";
  text-transform: uppercase;
  font-size: 2.3vh;
  max-width: auto;
}

.Name div {
  margin-left: 50px;
  padding-top: 3vh;
}

.Name:hover {
  color: white;
  text-decoration: none;
}