.News {
  height: fit-content;
  margin-top: 17vh;
  margin-left: 70px;
  position: relative;
  width: fit-content;
}

.Title {
  /* margin-left: 50px; */
  padding-top: 16px;
  font-family: "Monument Extended Ultrabold";
  color: white;
  font-size:x-large;
  text-decoration: none;
  text-transform: uppercase;
  width: fit-content;
}

.Project {
    padding-top: 16px;
    width: fit-content;
    color: gray;
    text-decoration: none;
    text-transform: uppercase;
    font-size:medium;
    align-items: left;
    font-weight: 600;
    font-family: "Helvetica Roman";
    z-index: 50;
}

.ProjectBold {
  padding-top: 16px;
  width: fit-content;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size:medium;
  align-items: left;
  font-weight: 900;
  font-family: "Helvetica Roman";
  z-index: 50;
}

.listStyle {
  padding-left: 0;
}

.listStyle p:hover {
  cursor:pointer;
}

.Project p{
    color: gray;
    text-decoration: none;
    font-weight: 600;
}

.Project p:hover {
  font-family: "Helvetica Roman";
  color: white;
  font-weight: 800;
}

