.OverWindow {
  list-style: none;
  margin: 0px;
  width: 100vw;
  height: 95vh;
  position: relative;
  padding-top: 0vh;
  z-index: 10;
  text-decoration: none;
  font-family: "Monument Extended Ultrabold";
  color: white;
  font-size:x-large;
  position: absolute;
} 

.Video {
  transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
  z-index: 1;
  position: relative;
  top: 50vh;
  left: 0;
}

.Back {
  z-index: 10;
  top:0;
  right: 2vw;
  width: fit-content;
  position: absolute;
}

.Back button {
  color: white;
  background-color: transparent;
  text-decoration: none;
  border: none;
  outline:none;
}

.Top {
  padding-top: 1vh;
  width: 100vw;
}