@font-face {
    font-family: "Monument Extended Regular";
    src: url("/src//assets/Policy/MonumentExtended-Regular.otf");
}

@font-face {
    font-family: "Monument Extended Ultrabold";
    src: url("/src//assets/Policy/MonumentExtended-Ultrabold.otf");
}